<div class="custom-footer">
  <div class="social-links">
    <a href="https://github.com/vprusso" target="_blank">GitHub</a>
    <a href="https://twitter.com/captainhampton" target="_blank">Twitter</a>
    <a href="https://scholar.google.ca/citations?user=dJEXPiQAAAAJ&hl=en" target="_blank">Scholar</a>
  </div>
</div>

<style>
  .custom-footer {
    text-align: center;
    padding: 20px 0;
  }

  .social-links a {
    margin: 0 10px;
    color: var(--accent);
    text-decoration: none;
  }

  .social-links a:hover {
    text-decoration: underline;
  }
</style>
