body {
  font-family: 'Fira Sans', Helvetica, Arial, sans-serif;
  font-weight: 300;
}

.pitch {
  font-size: 1.56rem;
  text-align: left;
  font-weight: 300;
}

.pitch b {
  font-weight: 500;
}

.button {
  font-weight: 500;
}

.nav {
  margin-top: 3rem;
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 1.5em;
  text-align: center;
}

.section-2 {
  margin-top: 3rem;
}

.nav a {
  margin: 1rem;
}
.logo {
  max-height: 150px;
  margin: auto;
  display: block;
}